<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You Page </title>
    <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://kit.fontawesome.com/a46c07d104.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="flex items-center justify-center h-screen">
      <div class="p-1 rounded shadow-lg bg-gradient-to-r from-purple-500 via-green-500 to-blue-500">
        <div class="flex flex-col items-center p-4 space-y-2 bg-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-green-600 w-28 h-28" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <h1 class="text-4xl font-bold font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-500">Thank You !!!</h1>
          <h3>Registration Successfull</h3>

            <button class="btn-btn" align="right" style="text-color:blue"><a href="/" class="link-active"><i class="fa-solid fa-house"></i>Home</a></button>
        </div>
      </div>
    </div>
  </body>

</html>

<!--<style>-->
<!--  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');-->
<!--  .btn-btn {-->
<!--    font-size: 16px;-->
<!--    border-radius: 5px;-->
<!--    padding: 10px 25px;-->
<!--    border: none;-->
<!--    font-weight: 500;-->
<!--    background: #16a085;-->
<!--    color: #fff;-->
<!--    cursor: pointer;-->
<!--    margin-top: 25px;-->
<!--  }-->
<!--</style>-->